<li>
  <span class="room-name"><a href="/room/<%= room.id %>"><%= room.name %></a></span>
  <%# TODO: Do the pluralization of person/people properly %>
  <span class="user-count"><%= room.userCount %> people</span>
</li>
